@import './reset';
@import './variables';
@import './breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,600&display=swap');

@mixin medium-padding-function {
    @include breakpoints(medium){
        width: 80%;
        min-width: 600px;
        margin: 0 auto;
    }
}

@mixin large-padding-function {
    width: 60%;
    min-width: 900px;
    margin: 0 auto;
}
@mixin large-header-responsive(){
    @include breakpoints(large){
        display: inline-block;
        max-width: 30%;
        min-width: 400px;
        text-align: right;
        vertical-align:top;
        padding: 25px 0;
    }
}
@mixin large-text-responsive(){
    @include breakpoints(large){
        display: inline-block;
        min-width: 400px;
        max-width: 45%;
        vertical-align:top;
        width: 75%;
    }
}

/*Used to make the surrounded text my stylized bold*/
@mixin strong-description{
    font-weight: 600;
    font-style: italic;
    color: $primaryMiddle
}
/*Padding function for the default mobile padding*/
@mixin mobile-padding(){
    display: block;
    width: 100%;
    min-width: 260px;
    padding: 1rem 1rem 1rem;
    @include medium-padding-function();

}


/* specific padding function*/
@mixin common-padding-intro {
    @include medium-padding-function();
    // @include large-padding-function();
    // //@include xlarge-padding-function();
    padding: 3rem 0 2rem;
}
/*Common font styles setup*/
@mixin common-header {
    color: $secondaryDark;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}
@mixin common-descriptor-setup {
    min-width: 320px;
    width: 100%;
    text-align:left;
    color: $primaryDark;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
    padding: 1rem 2rem;

}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: $primaryLight;

}

#introduction{
    /*dimensions*/
    height: 100vh; 
    margin: auto;
    padding-bottom: 100px;
    margin-bottom: 5rem;

    /*font*/
    font-size: 2em;
    font-weight: 200;
    line-height: 3rem;
    color: $primaryDark;
    @include breakpoints(small){
        padding: 1rem 2rem;
        margin-bottom: 5rem;
      }
    @include breakpoints(x-large){
        margin: 0 auto;
        max-width: 1400px;
      }
    .greeting{
        @include common-padding-intro();
        display: block;
        @include breakpoints(medium){
            padding-bottom: 8rem;
        }
        @include breakpoints(large){
            padding-bottom: 10rem;
        }
        img{
            // display: inline-block;
            margin-left:  32px;
            padding-left: 32px;
            width: 128px;
        }
       
    }
    .description{
        @include common-padding-intro();
        @include breakpoints(medium){
            padding-bottom: 8rem;
        }
        @include breakpoints(large){
            padding-bottom: 10rem;

        }
        strong{
            @include strong-description();
        }
    }
    .contact{
        @include common-padding-intro();
        font-size: 1rem;
        font-weight: 100;
        text-align: center;
        a{
            text-decoration: none;
            color: inherit;
            word-wrap: break-word;
        }
        img{
            height: 30px;
            width: 30px;
            vertical-align: middle;
        }
    }
}


#about-me{
   @include common-descriptor-setup;
   @include breakpoints(x-large){
    margin: 0 auto;
    max-width: 1400px;
  }
   .col-small{
       
       @include mobile-padding();
        @include common-header();
        @include large-header-responsive();
    }
    .col-large{
        @include mobile-padding();
        @include large-text-responsive();
        p{
            padding-bottom: 1rem;
        }
        strong{
            @include strong-description();
        }
    }
}

#skills{
    @include common-descriptor-setup;
    @include breakpoints(x-large){
        margin: 0 auto;
        max-width: 1400px;
      }
    .col-small{

        @include mobile-padding();
        @include common-header();
        @include large-header-responsive();
    }
    .col-large{
        @include mobile-padding();
        @include medium-padding-function();
        @include large-text-responsive();
        width: 100%;
        
        .col-list{
            
            display: inline-block;
            min-width: 23%; 
            vertical-align: top;
            padding: 1rem 1rem;
            strong{
                @include strong-description();
            }
        
        }
    }
}

#featured-projects{
    @include common-descriptor-setup;
    @include breakpoints(x-large){
        margin: 0 auto;
        max-width: 1400px;
      } 
    .col-small{
        @include mobile-padding();
        @include common-header();
        @include large-header-responsive();
    }
    .col-large{
        @include mobile-padding();
        @include large-text-responsive();
        strong{
            @include strong-description();
        }
    }
    #atlas-laptop{
        display: inline-block;
        width: 100%; 
    }

}

#other-projects{
    @include common-descriptor-setup;
    @include breakpoints(x-large){
        margin: 0 auto;
        max-width: 1400px;
      }
    margin: 0 auto;
    .col-small{
        @include mobile-padding();
        @include common-header();
        @include large-header-responsive();
    }
    .col-large{
        @include mobile-padding();
        // width: 100%;
        @include large-text-responsive();
        .title{
            // max-width: 30%;
            padding: 10px 0;
            @include strong-description();
            // margin-left: 1rem;
            display: inline-block;
        
            a{
                display: inline-block;
            }
            
        }
        .description{
            display: inline-block;
    
        }
        .technologies{
            display: block;
            li{
                display: inline-block;
                color: $secondaryDark;
                border: 1px solid $secondaryDark;
                border-radius: 8px;
                padding: 5px;
                margin: 2px;
            }
        }
    }  
   
}
#footer{
      
    display: block;
    text-align: center;
    align-items: center; 
    padding: 1rem;
    color: $primaryDark;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
    a{
        color:$primaryDark;
    }

    .col-small{
        display: block;   
   
    }
    .attribution{
        display: block;  
        margin: 0 20px;
  
    }
    .col-large{
        display: inline-block;
        width: 100%;        
        img{
            width: 30px;
            margin: 8px;
        }
    
    }
}