@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,600&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/*
Found: https://ian.pvdindustrial.com/blog/mobile-first-scss-media-queries-mixin-20181115/
*/
/*Used to make the surrounded text my stylized bold*/
/*Padding function for the default mobile padding*/
/* specific padding function*/
/*Common font styles setup*/
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
}

#introduction {
  /*dimensions*/
  height: 100vh;
  margin: auto;
  padding: 2rem 3rem;
  /*font*/
  font-size: 2em;
  font-weight: 200;
  line-height: 3rem;
  color: #000000;
}

@media all and (min-width: 1601px) {
  #introduction {
    margin: 0 auto;
    max-width: 1400px;
  }
}

#introduction .greeting {
  padding: 3rem 0 2rem;
  display: block;
}

@media all and (min-width: 641px) {
  #introduction .greeting {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
  }
}

@media all and (min-width: 641px) {
  #introduction .greeting {
    padding-bottom: 8rem;
  }
}

@media all and (min-width: 1025px) {
  #introduction .greeting {
    padding-bottom: 10rem;
  }
}

#introduction .greeting img {
  margin-left: 32px;
  padding-left: 32px;
  width: 128px;
}

#introduction .description {
  padding: 3rem 0 2rem;
}

@media all and (min-width: 641px) {
  #introduction .description {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
  }
}

@media all and (min-width: 641px) {
  #introduction .description {
    padding-bottom: 8rem;
  }
}

@media all and (min-width: 1025px) {
  #introduction .description {
    padding-bottom: 10rem;
  }
}

#introduction .description strong {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
}

#introduction .contact {
  padding: 3rem 0 2rem;
  font-size: .8em;
  font-weight: 100;
}

@media all and (min-width: 641px) {
  #introduction .contact {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
  }
}

#introduction .contact a {
  text-decoration: none;
  color: inherit;
  word-wrap: break-word;
}

#introduction .contact img {
  height: 35px;
  width: 35px;
  vertical-align: middle;
}

#about-me {
  min-width: 320px;
  width: 100%;
  text-align: left;
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
  padding: 1rem 2rem;
}

@media all and (min-width: 1601px) {
  #about-me {
    margin: 0 auto;
    max-width: 1400px;
  }
}

#about-me .col-small {
  display: block;
  width: 100%;
  min-width: 320px;
  padding: 1rem 1rem 1rem;
  color: #3D004D;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

@media all and (min-width: 641px) {
  #about-me .col-small {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) {
  #about-me .col-small {
    display: inline-block;
    max-width: 45%;
    min-width: 400px;
    width: 350px;
    text-align: right;
    vertical-align: top;
    padding: 25px 0;
  }
}

#about-me .col-large {
  display: block;
  width: 100%;
  min-width: 320px;
  padding: 1rem 1rem 1rem;
}

@media all and (min-width: 641px) {
  #about-me .col-large {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) {
  #about-me .col-large {
    display: inline-block;
    min-width: 400px;
    max-width: 45%;
    vertical-align: top;
    width: 75%;
  }
}

#about-me .col-large p {
  padding-bottom: 1rem;
}

#about-me .col-large strong {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
}

#skills {
  min-width: 320px;
  width: 100%;
  text-align: left;
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
  padding: 1rem 2rem;
}

@media all and (min-width: 1601px) {
  #skills {
    margin: 0 auto;
    max-width: 1400px;
  }
}

#skills .col-small {
  display: block;
  width: 100%;
  min-width: 320px;
  padding: 1rem 1rem 1rem;
  color: #3D004D;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

@media all and (min-width: 641px) {
  #skills .col-small {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) {
  #skills .col-small {
    display: inline-block;
    max-width: 45%;
    min-width: 400px;
    width: 350px;
    text-align: right;
    vertical-align: top;
    padding: 25px 0;
  }
}

#skills .col-large {
  display: block;
  width: 100%;
  min-width: 320px;
  padding: 1rem 1rem 1rem;
  width: 100%;
}

@media all and (min-width: 641px) {
  #skills .col-large {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
  }
}

@media all and (min-width: 641px) {
  #skills .col-large {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) {
  #skills .col-large {
    display: inline-block;
    min-width: 400px;
    max-width: 45%;
    vertical-align: top;
    width: 75%;
  }
}

#skills .col-large .col-list {
  display: inline-block;
  min-width: 23%;
  vertical-align: top;
  padding: 1rem 1rem;
}

#skills .col-large .col-list strong {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
}

#featured-projects {
  min-width: 320px;
  width: 100%;
  text-align: left;
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
  padding: 1rem 2rem;
}

@media all and (min-width: 1601px) {
  #featured-projects {
    margin: 0 auto;
    max-width: 1400px;
  }
}

#featured-projects .col-small {
  display: block;
  width: 100%;
  min-width: 320px;
  padding: 1rem 1rem 1rem;
  color: #3D004D;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

@media all and (min-width: 641px) {
  #featured-projects .col-small {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) {
  #featured-projects .col-small {
    display: inline-block;
    max-width: 45%;
    min-width: 400px;
    width: 350px;
    text-align: right;
    vertical-align: top;
    padding: 25px 0;
  }
}

#featured-projects .col-large {
  display: block;
  width: 100%;
  min-width: 320px;
  padding: 1rem 1rem 1rem;
}

@media all and (min-width: 641px) {
  #featured-projects .col-large {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) {
  #featured-projects .col-large {
    display: inline-block;
    min-width: 400px;
    max-width: 45%;
    vertical-align: top;
    width: 75%;
  }
}

#featured-projects .col-large strong {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
}

#featured-projects #atlas-laptop {
  display: inline-block;
  width: 100%;
}

#other-projects {
  min-width: 320px;
  width: 100%;
  text-align: left;
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
  padding: 1rem 2rem;
  margin: 0 auto;
}

@media all and (min-width: 1601px) {
  #other-projects {
    margin: 0 auto;
    max-width: 1400px;
  }
}

#other-projects .col-small {
  display: block;
  width: 100%;
  min-width: 320px;
  padding: 1rem 1rem 1rem;
  color: #3D004D;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

@media all and (min-width: 641px) {
  #other-projects .col-small {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) {
  #other-projects .col-small {
    display: inline-block;
    max-width: 45%;
    min-width: 400px;
    width: 350px;
    text-align: right;
    vertical-align: top;
    padding: 25px 0;
  }
}

#other-projects .col-large {
  display: block;
  width: 100%;
  min-width: 320px;
  padding: 1rem 1rem 1rem;
}

@media all and (min-width: 641px) {
  #other-projects .col-large {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
  }
}

@media all and (min-width: 1025px) {
  #other-projects .col-large {
    display: inline-block;
    min-width: 400px;
    max-width: 45%;
    vertical-align: top;
    width: 75%;
  }
}

#other-projects .col-large .title {
  padding: 10px 0;
  font-weight: 600;
  font-style: italic;
  color: #C90020;
  display: inline-block;
}

#other-projects .col-large .title a {
  display: inline-block;
}

#other-projects .col-large .description {
  display: inline-block;
}

#other-projects .col-large .technologies {
  display: block;
}

#other-projects .col-large .technologies li {
  display: inline-block;
  color: #3D004D;
  border: 1px solid #3D004D;
  border-radius: 8px;
  padding: 5px;
  margin: 2px;
}

#footer {
  display: block;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
}

#footer a {
  color: #000000;
}

#footer .col-small {
  display: block;
}

#footer .attribution {
  display: block;
  margin: 0 20px;
}

#footer .col-large {
  display: inline-block;
  width: 100%;
}

#footer .col-large img {
  width: 30px;
  margin: 8px;
}
/*# sourceMappingURL=main.css.map */