@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,600&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/*
Found: https://ian.pvdindustrial.com/blog/mobile-first-scss-media-queries-mixin-20181115/
*/
/*Fonts*/
/*Strong Tag */
/*Call to Action Font Size*/
/*Small Font - footers and such*/
/*Standard Font*/
/*Standard Font*/
/*Strong Heading for the left hand column titles*/
/* Margin and Padding*/
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#introduction {
  /*dimensions*/
  min-height: 800px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem 1rem;
}

#introduction p {
  padding: 1.5rem 0;
}

@media all and (min-width: 321px) {
  #introduction {
    padding: 3rem 2rem;
  }
  #introduction p {
    padding: 4rem 0 1rem;
  }
}

@media all and (min-width: 641px) {
  #introduction {
    padding: 6rem 4rem;
    max-width: 85%;
  }
  #introduction p {
    padding: 4rem 0 2rem;
  }
}

@media all and (min-width: 1025px) {
  #introduction {
    padding: 6rem 6rem;
    max-width: 70%;
  }
  #introduction p {
    padding: 4rem 0 3rem;
  }
}

@media all and (min-width: 1601px) {
  #introduction {
    padding: 6rem 8rem;
    max-width: 60%;
  }
  #introduction p {
    padding: 4rem 0 4rem;
  }
}

#introduction .greeting {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 3rem;
  color: #000000;
}

#introduction .greeting strong {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
}

@media all and (min-width: 641px) {
  #introduction .greeting {
    font-size: 2rem;
  }
}

#introduction .greeting img {
  margin-left: 32px;
  padding-left: 32px;
  width: 128px;
}

#introduction .description {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 3rem;
  color: #000000;
}

#introduction .description strong {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
}

@media all and (min-width: 641px) {
  #introduction .description {
    font-size: 2rem;
  }
}

#introduction .contact {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 3rem;
  color: #000000;
  text-align: center;
}

#introduction .contact strong {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
}

@media all and (min-width: 641px) {
  #introduction .contact {
    font-size: 2rem;
  }
}

#introduction .contact a {
  text-decoration: underline;
  -webkit-text-decoration-color: #C90020;
          text-decoration-color: #C90020;
  color: inherit;
  word-wrap: break-word;
}

#introduction .contact a:hover {
  color: #FFFFFF;
  background-color: #C90020;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#introduction .contact img {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
}

#center-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-me {
  margin: 0 auto;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2rem;
}

#about-me p {
  padding: 1.5rem 0;
}

@media all and (min-width: 321px) {
  #about-me {
    padding: 3rem 2rem;
  }
  #about-me p {
    padding: 0 0 1rem;
  }
}

@media all and (min-width: 641px) {
  #about-me {
    padding: 3rem 2rem;
    max-width: 85%;
  }
  #about-me p {
    padding: 0 0 2rem;
  }
}

@media all and (min-width: 1025px) {
  #about-me {
    padding: 3rem 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 70%;
  }
  #about-me p {
    padding: 0 0 2rem;
  }
}

@media all and (min-width: 1601px) {
  #about-me {
    padding: 3rem 4rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 60%;
  }
  #about-me p {
    padding: 0rem 0 2rem;
  }
}

#about-me .col-small {
  color: #3D004D;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

@media all and (min-width: 321px) {
  #about-me .col-small {
    text-align: left;
  }
}

@media all and (min-width: 1025px) {
  #about-me .col-small {
    text-align: left;
    min-width: 250px;
    max-width: 250px;
  }
}

@media all and (min-width: 1601px) {
  #about-me .col-small {
    text-align: left;
  }
}

#about-me .col-large {
  max-width: 1000px;
}

#about-me .col-large p {
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
}

#about-me .col-large p strong {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
}

#about-me .col-large ul {
  min-width: 175px;
  max-width: 400px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
}

#about-me .col-large ul li {
  padding: 0.3rem;
}

#about-me .col-large ul strong {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
}

#about-me .col-large img {
  max-width: 512px;
}

@media all and (min-width: 321px) {
  #about-me .col-large ul {
    min-width: 200px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}

@media all and (min-width: 641px) {
  #about-me .col-large ul {
    text-align: center;
    min-width: 150px;
    max-width: 150px;
  }
}

@media all and (min-width: 1025px) {
  #about-me .col-large ul {
    text-align: left;
    min-width: 175px;
    max-width: 175px;
  }
}

@media all and (min-width: 1601px) {
  #about-me .col-large {
    text-align: left;
  }
}

#skills {
  margin: 0 auto;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2rem;
}

#skills p {
  padding: 1.5rem 0;
}

@media all and (min-width: 321px) {
  #skills {
    padding: 3rem 2rem;
  }
  #skills p {
    padding: 0 0 1rem;
  }
}

@media all and (min-width: 641px) {
  #skills {
    padding: 3rem 2rem;
    max-width: 85%;
  }
  #skills p {
    padding: 0 0 2rem;
  }
}

@media all and (min-width: 1025px) {
  #skills {
    padding: 3rem 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 70%;
  }
  #skills p {
    padding: 0 0 2rem;
  }
}

@media all and (min-width: 1601px) {
  #skills {
    padding: 3rem 4rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 60%;
  }
  #skills p {
    padding: 0rem 0 2rem;
  }
}

#skills .col-small {
  color: #3D004D;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

@media all and (min-width: 321px) {
  #skills .col-small {
    text-align: center;
  }
}

@media all and (min-width: 1025px) {
  #skills .col-small {
    text-align: left;
    min-width: 250px;
    max-width: 250px;
  }
}

@media all and (min-width: 1601px) {
  #skills .col-small {
    text-align: left;
  }
}

#skills .col-large {
  max-width: 1000px;
}

#skills .col-large p {
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
}

#skills .col-large p strong {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
}

#skills .col-large ul {
  min-width: 175px;
  max-width: 400px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
}

#skills .col-large ul li {
  padding: 0.3rem;
}

#skills .col-large ul strong {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
}

#skills .col-large img {
  max-width: 512px;
}

@media all and (min-width: 321px) {
  #skills .col-large ul {
    min-width: 200px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}

@media all and (min-width: 641px) {
  #skills .col-large ul {
    text-align: center;
    min-width: 150px;
    max-width: 150px;
  }
}

@media all and (min-width: 1025px) {
  #skills .col-large ul {
    text-align: left;
    min-width: 175px;
    max-width: 175px;
  }
}

@media all and (min-width: 1601px) {
  #skills .col-large {
    text-align: left;
  }
}

#featured-projects {
  margin: 0 auto;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2rem;
}

#featured-projects p {
  padding: 1.5rem 0;
}

@media all and (min-width: 321px) {
  #featured-projects {
    padding: 3rem 2rem;
  }
  #featured-projects p {
    padding: 0 0 1rem;
  }
}

@media all and (min-width: 641px) {
  #featured-projects {
    padding: 3rem 2rem;
    max-width: 85%;
  }
  #featured-projects p {
    padding: 0 0 2rem;
  }
}

@media all and (min-width: 1025px) {
  #featured-projects {
    padding: 3rem 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 70%;
  }
  #featured-projects p {
    padding: 0 0 2rem;
  }
}

@media all and (min-width: 1601px) {
  #featured-projects {
    padding: 3rem 4rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 60%;
  }
  #featured-projects p {
    padding: 0rem 0 2rem;
  }
}

#featured-projects .col-small {
  color: #3D004D;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

@media all and (min-width: 321px) {
  #featured-projects .col-small {
    text-align: left;
  }
}

@media all and (min-width: 1025px) {
  #featured-projects .col-small {
    text-align: left;
    min-width: 250px;
    max-width: 250px;
  }
}

@media all and (min-width: 1601px) {
  #featured-projects .col-small {
    text-align: left;
  }
}

#featured-projects .col-large {
  max-width: 1000px;
}

#featured-projects .col-large a {
  text-decoration: none;
  display: inline-block;
  padding-bottom: 0.2rem;
}

#featured-projects .col-large a i {
  width: 3rem;
  color: #C90020;
}

#featured-projects .col-large .fa {
  font-size: 1.5rem;
  color: #C90020;
}

#featured-projects .col-large .fa:hover {
  color: #3D004D;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#featured-projects .col-large #atlas-title {
  display: block;
}

#featured-projects .col-large .featured {
  display: inline-block;
  padding-right: 1rem;
  color: #C90020;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.5rem;
}

#featured-projects .col-large p {
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
}

#featured-projects .col-large p strong {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
}

#featured-projects .col-large ul {
  min-width: 175px;
  max-width: 400px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
}

#featured-projects .col-large ul li {
  padding: 0.3rem;
}

#featured-projects .col-large ul strong {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
}

#featured-projects .col-large img {
  max-width: 512px;
}

@media all and (min-width: 321px) {
  #featured-projects .col-large ul {
    min-width: 200px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}

@media all and (min-width: 641px) {
  #featured-projects .col-large ul {
    text-align: center;
    min-width: 150px;
    max-width: 150px;
  }
}

@media all and (min-width: 1025px) {
  #featured-projects .col-large ul {
    text-align: left;
    min-width: 175px;
    max-width: 175px;
  }
}

@media all and (min-width: 1601px) {
  #featured-projects .col-large {
    text-align: left;
  }
}

#featured-projects .col-large .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

@media all and (min-width: 641px) {
  #featured-projects .col-large .technologies {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}

#featured-projects .col-large .technologies li {
  white-space: nowrap;
  color: #3D004D;
  border: 1px solid #3D004D;
  border-radius: 8px;
  margin: 0.1rem;
}

#featured-projects #atlas-laptop {
  display: inline-block;
  width: 100%;
}

#other-projects {
  margin: 0 auto;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2rem;
}

#other-projects p {
  padding: 1.5rem 0;
}

@media all and (min-width: 321px) {
  #other-projects {
    padding: 3rem 2rem;
  }
  #other-projects p {
    padding: 0 0 1rem;
  }
}

@media all and (min-width: 641px) {
  #other-projects {
    padding: 3rem 2rem;
    max-width: 85%;
  }
  #other-projects p {
    padding: 0 0 2rem;
  }
}

@media all and (min-width: 1025px) {
  #other-projects {
    padding: 3rem 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 70%;
  }
  #other-projects p {
    padding: 0 0 2rem;
  }
}

@media all and (min-width: 1601px) {
  #other-projects {
    padding: 3rem 4rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 60%;
  }
  #other-projects p {
    padding: 0rem 0 2rem;
  }
}

#other-projects .col-small {
  color: #3D004D;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

@media all and (min-width: 321px) {
  #other-projects .col-small {
    text-align: left;
  }
}

@media all and (min-width: 1025px) {
  #other-projects .col-small {
    text-align: left;
    min-width: 250px;
    max-width: 250px;
  }
}

@media all and (min-width: 1601px) {
  #other-projects .col-small {
    text-align: left;
  }
}

#other-projects .col-large {
  max-width: 1000px;
}

#other-projects .col-large p {
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
}

#other-projects .col-large p strong {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
}

#other-projects .col-large ul {
  min-width: 175px;
  max-width: 400px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  color: #000000;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
}

#other-projects .col-large ul li {
  padding: 0.3rem;
}

#other-projects .col-large ul strong {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
}

#other-projects .col-large img {
  max-width: 512px;
}

@media all and (min-width: 321px) {
  #other-projects .col-large ul {
    min-width: 200px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}

@media all and (min-width: 641px) {
  #other-projects .col-large ul {
    text-align: center;
    min-width: 150px;
    max-width: 150px;
  }
}

@media all and (min-width: 1025px) {
  #other-projects .col-large ul {
    text-align: left;
    min-width: 175px;
    max-width: 175px;
  }
}

@media all and (min-width: 1601px) {
  #other-projects .col-large {
    text-align: left;
  }
}

#other-projects .col-large .title {
  font-weight: 600;
  font-style: italic;
  color: #C90020;
  padding: 1rem 0;
  display: inline-block;
}

#other-projects .col-large .project a {
  text-decoration: none;
  display: inline-block;
}

#other-projects .col-large .project a i {
  width: 2rem;
  font-style: 2rem;
}

#other-projects .col-large .project.hide {
  display: none;
}

#other-projects .col-large .fa {
  padding-left: 0.5rem;
  font-size: 1.2rem;
  color: #C90020;
}

#other-projects .col-large .fa:hover {
  color: #3D004D;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#other-projects .col-large ul {
  max-width: 100%;
  max-width: 100%;
}

#other-projects .col-large .technologies {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#other-projects .col-large .technologies li {
  white-space: nowrap;
  color: #3D004D;
  border: 1px solid #3D004D;
  border-radius: 8px;
  margin: 0.1rem;
}

#other-projects .selectors.technologies li {
  min-width: 120px;
  cursor: pointer;
}

#other-projects .selectors.technologies li:hover {
  background-color: #C90020;
  border: 1px solid #C90020;
  color: #FFFFFF;
}

#other-projects .selectors.technologies .active {
  background-color: #C90020;
  border: 1px solid #C90020;
  color: #FFFFFF;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 0 auto;
  width: 70%;
  color: #000000;
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 1.5rem;
}

@media all and (min-width: 641px) {
  #footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#footer a {
  color: #000000;
}

#footer .col-small {
  width: 100%;
}

#footer .attribution {
  width: 100%;
  margin: 0 20px;
}

#footer .col-large {
  display: inline-block;
  width: 100%;
}

#footer .col-large img {
  width: 30px;
  margin: 8px;
}
/*# sourceMappingURL=main.css.map */