@import './reset';
@import './variables';
@import './breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,600&display=swap');

/*Fonts*/
/*Strong Tag */
@mixin strong{
    font-weight: 600;
    font-style: italic;
    color: $primaryMiddle
}

/*Call to Action Font Size*/
@mixin main-header{
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 3rem;
    color: $primaryDark;
    strong {
        @include strong();
    }
    @include breakpoints(medium){
        font-size: 2rem;
      }
}

/*Small Font - footers and such*/
@mixin small-font(){
    color: $primaryDark;
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.5rem;

}
/*Standard Font*/
@mixin standard-font(){
    color: $primaryDark;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
}
/*Standard Font*/
@mixin feature-font(){
    color: $primaryMiddle;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5rem;
}

/*Strong Heading for the left hand column titles*/
@mixin strong-header {
    color: $secondaryDark;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}


/* Margin and Padding*/
@mixin base(){
    margin: 0 auto;
    padding: 2rem 1rem;
    p{
        padding: 1.5rem 0;
    }
   
}
@mixin intro-panel-padding {
    @include breakpoints(small){
        padding: 3rem 2rem;
        p{
            padding: 4rem 0 1rem;
        }
    }
    @include breakpoints(medium){
        padding: 6rem 4rem;
        max-width: 85%;
        p{
            padding: 4rem 0 2rem;
        }
    }
    @include breakpoints(large){
        padding: 6rem 6rem;
        max-width: 70%;
        p{
            padding: 4rem 0 3rem;
        }
    }
    @include breakpoints(x-large){
        padding: 6rem 8rem;
        max-width: 60%;
        p{
            padding: 4rem 0 4rem;
        }
    }
}
@mixin two-column-panel {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;

    @include breakpoints(small){
        padding: 3rem 2rem;
        p{
            padding: 0 0 1rem;
        }
    }
    @include breakpoints(medium){
        padding: 3rem 2rem;
        max-width: 85%;
        p{
            padding: 0 0 2rem;
        }
    }
    @include breakpoints(large){
        padding: 3rem 3rem;
        flex-direction: row;
        max-width: 70%;
        p{
            padding: 0 0 2rem;
        }
    }
    @include breakpoints(x-large){
        padding: 3rem 4rem;
        flex-direction: row;
        max-width: 60%;
        p{
            padding: 0rem 0 2rem;
        }
    }
}

@mixin title-column($alignment){
    
    @include breakpoints(small){
        text-align: $alignment;

    }
    @include breakpoints(large){
        text-align: left;
        min-width: 250px;
        max-width: 250px;

    }
    @include breakpoints(x-large){
        text-align: left;
    }
}

@mixin content-column{
    max-width: 1000px;

    p{
        @include standard-font();
        strong{
            @include strong();
        }
    }
    ul{
        min-width: 175px; 
        max-width: 400px; 
        width: 100%;
        display: inline-block;
        vertical-align: top;
        @include standard-font();
        li{
            padding: 0.3rem;
        }
        strong{
            @include strong();
        }
      
    }
    img{
        max-width: 512px;
    }
    @include breakpoints(small){
        ul{
            min-width: 200px; 
            max-width: 600px; 
            margin: 0 auto;
            text-align: center;

        }
    }
    @include breakpoints(medium){
        ul{
            text-align: center;
            min-width: 150px; 
            max-width: 150px; 
        }
    }
    @include breakpoints(large){
        ul{
            text-align: left;
            min-width: 175px; 
            max-width: 175px; 
        }
    }
    @include breakpoints(x-large){
        text-align: left;

    }
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: $primaryLight;
    display: flex;
    flex-direction: column;
}


#introduction{
    /*dimensions*/
    min-height: 800px; 
    height: 100vh;
    @include base();
    @include intro-panel-padding();

    .greeting{
        @include main-header();
        img{
            margin-left:  32px;
            padding-left: 32px;
            width: 128px;
        }
       
    }
    .description{
        @include main-header();
    }
    .contact{
        @include main-header();
        text-align: center;
        a{
            text-decoration: underline;
            text-decoration-color: $primaryMiddle;
            color: inherit;
            word-wrap: break-word;
            &:hover{
                color: $primaryLight;
                background-color: $primaryMiddle;
                border-radius: 5px;
                transition: all 0.3s;
            }
        }
        img{
            height: 2rem;
            width: 2rem;
            vertical-align: middle;
        }
    }
}

#center-me{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}
#about-me{

    @include base();
    @include two-column-panel();
  
   .col-small{
       @include strong-header();
       @include title-column(left);
    }
    .col-large{
        @include content-column();
      
    }
}

#skills{
    @include base();
    @include two-column-panel();
    .col-small{
        @include strong-header();
        @include title-column(center);
    }
    .col-large{
        @include content-column();
    }
}

#featured-projects{
    @include base();
    @include two-column-panel();
    .col-small{
        @include strong-header();
        @include title-column(left);
    }
    .col-large{
        a{
            text-decoration: none;
            display: inline-block;
            padding-bottom: 0.2rem;
            i{
                width: 3rem;
                color: $primaryMiddle;
            }
        } 
        .fa{
            font-size: 1.5rem;
            color: $primaryMiddle;
            &:hover{
                color: $secondaryDark;
                transition: 0.4s;
            }
        }
        #atlas-title{
            display: block;
        }
        .featured{
            display: inline-block;
            padding-right: 1rem;
            @include feature-font();
        }
        @include content-column();
        .technologies{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
        
            @include breakpoints(medium){
                flex-wrap:unset;
            }
            li{
                white-space: nowrap;
                color: $secondaryDark;
                border: 1px solid $secondaryDark;
                border-radius: 8px;
                margin: 0.1rem;
            }
        }
    }
  
    #atlas-laptop{
        display: inline-block;
        width: 100%; 
    }

}

#other-projects{
    @include base();
    @include two-column-panel();
    .col-small{
        @include strong-header();
        @include title-column(left);
    }
    .col-large{
        @include content-column();

        .title{
            @include strong();
            padding: 1rem 0;
            display: inline-block;
                    
        }
        .project{
            a{
                text-decoration: none;
                display: inline-block;
                i{
                    width: 2rem;
                    font-style: 2rem;
                }
            }  
        }
        .project.hide{
            display: none;
        }
        .fa{
            padding-left: 0.5rem;
            font-size: 1.2rem;
            color: $primaryMiddle;
            &:hover{
                color: $secondaryDark;
                transition: 0.4s;
            }
        }
        ul{
            max-width: 100%;
            max-width: 100%;
        }
        .technologies{
            max-width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
        
            li{
                white-space: nowrap;
                color: $secondaryDark;
                border: 1px solid $secondaryDark;
                border-radius: 8px;
                margin: 0.1rem;
            }
        }
    }  

    .selectors.technologies{
     
        li{
            min-width: 120px;
            cursor: pointer;
            &:hover{
                background-color: $primaryMiddle;
                border: 1px solid $primaryMiddle;
                color: $primaryLight;
            }
        }
        .active{
            background-color: $primaryMiddle;
            border: 1px solid $primaryMiddle;
            color: $primaryLight;
        }
    }
}
#footer{
     
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    padding: 1rem;
    margin: 0 auto;
    width: 70%;
    @include small-font();
    @include breakpoints(medium){
            flex-direction: row;
    }
    a{
        color:$primaryDark;
    }

    .col-small{
        width: 100%;
    }
    .attribution{
        width: 100%;

        margin: 0 20px;
    }
    .col-large{
        display: inline-block;
        width: 100%;        
        img{
            width: 30px;
            margin: 8px;
        }
    
    }
}