@import './reset';
@import './variables';
@import './breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,600&display=swap');

/*Used to make the surrounded text my stylized bold*/
@mixin strong-description{
    font-weight: 600;
    font-style: italic;
    color: $primaryMiddle
}
/*Padding function for the default mobile padding*/
@mixin mobile-padding(){
    display: block;
    width: 100%;
    min-width: 320px;
    padding: 1rem 1rem 1rem;
}

/* specific padding function*/
@mixin common-padding-intro {
    padding: 3rem 0 2rem;
}
/*Common font styles setup*/
@mixin common-header {
    color: $secondaryDark;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
}
@mixin common-descriptor-setup {
    min-width: 320px;
    width: 100%;
    text-align:left;
    color: $primaryDark;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
    padding: 1rem 2rem;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: $primaryLight;
}

#introduction{
    /*dimensions*/
    height: 100vh;
    margin: auto;
    padding: 2rem 3rem;
    /*font*/
    font-size: 2em;
    font-weight: 200;
    line-height: 3rem;
    color: $primaryDark;


    @include breakpoints(medium){
        padding: 2rem 6rem;

    }
 
    .greeting{
        @include common-padding-intro();
        display: inline-block;

        img{
            display: inline-block;
            margin-left:  32px;
            padding-left: 32px;
            width: 128px;
        }
       
    }
    .description{
        @include common-padding-intro();

        strong{
            @include strong-description();
        }
    }
    .contact{
        @include common-padding-intro();
        font-size: .8em;
        font-weight: 100;
        a{
            text-decoration: none;
            color: inherit;
            word-wrap: break-word;
        }
        img{
            height: 35px;
            width: 35px;
            vertical-align: middle;
        }
    }
}


#about-me{
   @include common-descriptor-setup;
   .col-small{
       
       @include mobile-padding();
        @include common-header();
    }
    .col-large{
        @include mobile-padding();
        p{
            padding-bottom: 1rem;
        }
        strong{
            @include strong-description();
        }
    }
}

#skills{
    @include common-descriptor-setup;

    .col-small{

        @include mobile-padding();
        @include common-header();
    }
    .col-large{
        @include mobile-padding();
        .col-list{
        
            display: inline-block;
            vertical-align: top;
            padding: 1rem 1rem;
            strong{
                @include strong-description();
            }
        
        }
    }
}

#featured-projects{
    @include common-descriptor-setup;

    .col-small{
        @include mobile-padding();
        @include common-header();
    }
    .col-large{
        @include mobile-padding();
        strong{
            @include strong-description();
        }
    }
    #atlas-laptop{
        display: inline-block;
        width: 100%;
    }

}

#other-projects{
    @include common-descriptor-setup;
    .indent{
        @include mobile-padding();
    }  
    .col-small{
        @include mobile-padding();
        @include common-header();
    }
    .col-large{

        .title{
            @include strong-description();
            margin-left: 1rem;
            display: inline-block;
            a{
                display: inline-block;
            }
        }
        .technologies{
            display: block;
            li{
                display: inline-block;
                color: $primaryMiddle;
                border: 1px solid $primaryMiddle;
                border-radius: 8px;
                padding: 5px;
                margin: 2px;
            }
        }
    }  
   
}
#footer{
      
    display: block;
    text-align: center;
    align-items: center; 
    padding: 1rem;
    color: $primaryDark;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
    a{
        color:$primaryDark;
    }

    .col-small{
        display: block;   
   
    }
    .attribution{
        display: block;  
        margin: 0 20px;
  
    }
    .col-large{
        display: inline-block;
        width: 100%;        
        img{
            width: 30px;
            margin: 8px;
        }
    
    }
}